<h1>Add a Serial Number</h1>
<form action="/home" method="post">
	Phone Number: <input type="text" name="phone_number"> <br>
	Serial Number: <input type="text" name="serial_number">
	<input type="submit" value="add">
</form>